<h1>Sign Up Below:</h1>
<form method="POST" action='/registrations'>
  <label>Enter your name: </label>
  <input type="text" name="user[name]"><br>
  <label>Enter your email: </label>
  <input type="text" name="user[email]"><br>
  <label>Enter your password: </label>
  <input type="text" name="user[password]"><br>
  <input type="submit" name="submit">
</form>
